    .navbar{
        background-color: #0062ff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo{
        color:white;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .search input{
        background-color: white;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        color: grey;
        border: none;
        height:25px ;
        width: 150px;
        text-align: center;
    }
    .btns button{
        background-color: color;
        border-radius: 5px;
        margin-left: 10px;
        border: none;
        color:#0062ff;
        height: 25px;
        width: 80px;
    }
    .links{
        background-color:#e8f1ff ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:#0062ff;
        padding: 10px;
        display: flex;
        gap: 15px;
    }
    .links a{
        text-decoration: none;
        font-size: 23px;
    }
    #wallt-box{
        background-color: #f2f6ff;
        min-height: 90vh;
        padding: 10px;
        
    }
    .wallet-box-container{
        background-color: white;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }
    .paytm-heading{
        font-size: 25px;
        color:#000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 300;
    }
    .balance{
        font-size: 18px;
        color:grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .add-money{
        background-color: #0062ff;
        color: white;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;
        padding: 3px;
        width: 120px;
        height: 35px;
        text-align: center;
        border-radius: 5px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .service-items{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: grey;
        font-size: 18px;
        font-weight: 200;
        background-color: white;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-radius: 5px;
        border: none;
        
    }
    .offer-items{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: grey;
        font-size: 18px;
        font-weight: 200;
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        border: none;
    }
    .cards{
        background-color: white;
        width: 90%;
        height: 40%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d8e6ef;
    }
    .travel-container{
        display: flex;
    }
    .travel-mode{
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000;
        padding: 10px;
    }
    .radio-inputs{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: #000;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .label{
        font-size: 20px;
        color:grey;
        font-family: "Roboto";
        padding: 10px;
    }
    .input-box{
        border-radius: 5px;
        border: 1px solid #d8e6ef;
        background-color: #f9fcff;
        font-size: 20px;
        color: #2c2d2d;
        font-family: sans-serif;
        padding: 10px;
       
    }
    .feild{
        margin: 10px;
    }
    .fares-item{
        background-color: #f9fcff;
        border: 1px solid #d8e6ef;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }
    .fares-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
    }
    .footer-container{
        display: flex;
        justify-content: space-around;
    }
    .footer-heading{
        color: grey;
        font-size: 15px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    }
